<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
			
			<!-- as example 
			my tiles in
			D:\temp\0000000\goo11\sat\ 
			and a full name some tile is 
			D:\temp\0000000\goo11\sat\z18\80797\165944.jpg
			(zoom=z18, Y=80797, X=165944)
			
			I want to put all result tiles in 
			D:\temp\0000000\222222\
			and a full name some tile is 
			D:\temp\0000000\222222\z18\x165942\y80801.jpg
			(zoom=z18, Y=80801, X=165944)
			-->
			
			<!-- From-To -->
			<add key="FromTo" value="Spherical-Wgs84" />
			<!-- add key="FromTo" value="Wgs84-Spherical" / -->

			<!-- directory to get tiles -->
			<add key="InTilesDir" value="D:\temp\0000000\goo11\sat\" />
			
			<!-- input tile's file name format -->
			<add key="InXYZPathFormat" value="z{2}\{1}\{0}.jpg" />

			<!-- directory to put tiles -->
			<add key="OutTilesDir" value="D:\temp\0000000\222222\" />

			<!-- output tile's file name format -->
			<add key="OutXYZPathFormat" value="z{2}\x{0}\y{1}.jpg" />

    </appSettings>
</configuration>